name: Release Flatpak

permissions:
  contents: write

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    name: Build Flatpak (${{ matrix.arch }})
    runs-on: ${{ matrix.runner }}
    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:gnome-49
      options: --privileged

    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: x86_64
            runner: ubuntu-24.04
          - arch: aarch64
            runner: ubuntu-24.04-arm

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Build Flatpak
        uses: flatpak/flatpak-github-actions/flatpak-builder@v6
        with:
          manifest-path: io.github.maniacx.BudsLink.yml
          bundle: BudsLink-${{ github.ref_name }}-${{ matrix.arch }}.flatpak
          arch: ${{ matrix.arch }}
          cache-key: flatpak-builder-${{ matrix.arch }}-${{ github.sha }}
          upload-artifact: true

  release:
    name: Create GitHub Release
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: artifacts/**/*.flatpak
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

